Options -MultiViews
RewriteEngine On
RewriteBase /scsoperations/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /scsoperations/index.html [L]
